h1 {
  color: #0069cc;
  font-family: 'Courier New';
  font-weight: 800;
  margin: 0;
}

* {
  font-family: monospace;
}

body {
  color: #0069cc;
  width: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 120%;
  background-color: #f2f2f2;
  font-weight: 500;
}

body > div {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  background-color: white;
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: #f2f2f2;
  background-color: #0069cc;
  padding: 5px 10px;
  align-items: center;
}

footer button {
  border: 1px solid #f2f2f2;
  background-color: #0069cc;
  color: #f2f2f2;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px;
  width: 130px;
  cursor: pointer;
}

footer button:hover {
  background-color: #f2f2f2;
  color: #0069cc;
  transition: all ease 0.3s;
}

footer a:hover {
  text-decoration: none;
}

footer a:visited {
 color: inherit;
}

#new-task-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #f2f2f2;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 20px 0;
  border: 0;
}

#add-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

#add-task-form > button {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  width: 100%;
  border: 1px solid transparent;
  background-color: #0069cc;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 600;
}

#add-task-form > button:hover {
  border-color: #0069cc;
  background-color: transparent;
  color: #0069cc;
}

#task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 20px;
}

.task-item input {
  display: none;
}

.task-item label {
  flex: 1;
  margin: 0 5px;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.fa {
  visibility: hidden;
}

.task-item   input:checked ~ .checkmark .fa {
  visibility: inherit;
  transition: all 0.3s ease;
  font-size: inherit;
}

.task-item span {
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
}

.delete-button {
  border: none;
  color: red;
  font-size: 30px;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
}

.delete-button:hover {
  background-color: inherit;
}

::-webkit-scrollbar {
  display: none;
}
